 

<div class="outWrap" id="offerWrap">
  <div class="Wrap">
    <div id="price"> 
    	
      <%= image_tag 'hair-illusion-price.png'%>
      <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a>
    </div>
    <div id="points">
      <div class="mainshdw">
        <div id="video">
        	<div class="youtube-video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/s60RC5fdtyc?rel=0&autoplay=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
         </div>
      </div> 
    </div>
    <p id="bonus">*29.95 pricing with FREE BONUS Hairline Optimizer and free shipping offer requires enrollment in quarterly continuity program. Details below.</p>
  </div>
</div>
<div class="outWrap" id="natural">
  <div class="Wrap">
    <h2>Only One Ingredient —<br>
    <span class="txtwhite">100% Natural Human hair</span></h2>
  </div>
</div>
<div class="outWrap outWhite">
  <div class="Wrap pad" id="colors">
    <a name="hair-colors"></a>
    <h3>Choose from 8 true colors to seemlessly<br>
    blend with or replace your hair:</h3>
    <ul id="colorsli">
      <li id="color-jblack"><span class="assets" >Jet Black</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now" style="cursor: pointer;">Order Now</a></li>
      <li id="color-black"><span class="assets">Black</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li class="colorlst" id="color-dbrown"><span class="assets">Dark Brown</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li id="color-brown"><span class="assets">Browm</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li id="color-lbrown"><span class="assets">Light Brown</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li class="colorlst" id="color-aub"><span class="assets">Auburn</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li id="color-blonde"><span class="assets">Light Blonde</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
      <li id="color-lblonde"><span class="assets">Light Blonde</span> <a href="#order" class="ordnwbtn" title="Order Hair Illusion™ Now">Order Now</a></li>
    </ul>
    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>
<div class="outWrap outGrey">
  <div class="Wrap pad top">
    <div id="ceo">
      <h3>"I stand by my product 100%.<br>
      <strong>If I didn't, I wouldn't use it on my own head."</strong></h3>
      <p>I was voted "best hair" in junior high school. For me, this is emotional and something I never expected.</p>
      <p> My name is Ronnie and I'm the founder of Hair Illusion™. I founded the company largely as a result of my own battle with hair loss. While perfection is quite hard to achieve, it's certainly something I strive for everyday in my appearance.</p>
      <p> As I have gotten older and started losing more and more of my hair, I have looked for any solution available and tried all products that I have come across.</p>
      <a href="/about_us" class="mainurl">Read More of the Hair Illusion Story</a>
      <div class="clearer"></div>
    </div> 
    <%= image_tag 'ronnie-passariello.jpg', :clas=>"floatleft"%>
    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>
<div class="outWrap outWhite">
  <div class="Wrap pad top" id="testimonials">
    <h3>Nothing Looks More<br>
    Natural, <strong>Period</strong>.</h3>
    <div class="clearer"></div>
    <div class="testclmn"> 
      <%= image_tag 'testimonials1.jpg', :clas=>"testimg"%>
      <p>"Hair Illusion was my savior to going out with my balding hair. I didn't want a hair transplant or a hair weave. I didn't want to shave it bald. Rogaine worked for a little while..."</p>
      <p><strong><em>— Mike M.</em></strong></p>
    </div>
    <div class="testclmn"> 
      <%= image_tag 'testimonials2.jpg', :clas=>"testimg"%>
      <p>"I am so happy I decided to try hair illusion. I was self conscious about my hair thinning over the last couple of years. Hair illusion has helped me feel confident..."</p>
      <p><strong><em>— Janet</em></strong></p>
    </div>
    <div class="testclmn testlst">
    	<%= image_tag 'testimonials3.jpg', :clas=>"testimg"%> 
      <p>"When I started losing my hair I didn't know what to do. I tried using Rogaine, Propecia, Nizoral shampo, anything I could find. Luckily  I came across Hair Illusion..."</p>
      <p><strong><em>— Tony C.</em></strong></p>
    </div>
    <div class="clearer"></div>
    <a href="/testimonials" class="mainurl2">Read More Customer Testimonials</a>
    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>
<div class="outWrap outGrey">
  <div class="Wrap pad">
    <ul class="slidesContainer" id="b4aftr-slides">
      <li class="first slide" style="left: -980px;"><%= image_tag 'before-after1.jpg' %> </li>
      <li class="slide" style="left: 0px;"><%= image_tag 'before-after2.jpg' %></li>
      <li class="slide" style="left: -980px;"><%= image_tag 'before-after3.jpg' %></li>
      <li class="slide" style="left: -980px;"><%= image_tag 'before-after4.jpg' %></li>
    </ul>
    <a class="control ordnwbtn" id="previous">Previous</a>
	<a class="control ordnwbtn" id="next">Next</a>
    <div class="clearer"></div>
    <a href="/photos" class="mainurl">See More Before &amp; After Results</a>
    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>




<div class="outWrap" id="formTitle">
  <div class="Wrap">
    <a name="order"></a>
    <p>Fill out the form below to order Hair Illusion™ today.<br>
    <strong>This offer is not available in stores.</strong></p>
  </div>
</div>
 


<div class="outWrap outWhite" id="formWrap">
  <div class="Wrap">
    <div id="form">
      <form action="images/Hair Illusion _ Nothing Looks More Natural, Period..html" method="post">
        <div>
            <span style="color: #FF0000; font-weight: bold">
                
            </span>
        </div>
		<div id="productSelection">
          <div class="FormHeadlineL"><strong>STEP 1:</strong><br> Select your order</div>
          <div class="checkbox" id="checkbox0">        
            <input type="radio" id="Bonus" name="Offer" value="Bonus" onclick="onChangePlan('bonus')"> <label for="Bonus">
            	<b>HAIR ILLUSION HAIR CLUB.</b>
            	<br />
            	<br />
            	<b>YES, I would like to join the Hair Illusion Hair Club and receive a FREE 2 weeks supply. I understand I will become a Hair Illusion Hair Club member and receive a FREE 2 week supply of Hair Illusion and FREE Hairline optimizer as well as FREE shipping. I will be charged $8.95 for process and handling and will be able to cancel or adjust my plan anytime as described in the terms below.<br /> </b>
            	<div id="top_order_div" style="display: none">
            		<br /> 
            		<b>
            			We Will Ship You a Free 2 Weeks Supply Of The Color Of Your Choice With Free Shipping & Free Hairline Optimizer. 
Only Pay $8.95 For Process/Handing. 
            		</b>
            		<br />
            	<br />
            		<b>Benefits Of Joining Our Hair Club.</b>     
            		<br />
            		<br />
            		Free Two Week Supply. 50% Off Retail Price. Never Run Out. Free Hairline Optimizer & Free Shipping With First Order. 
30 Days After your Order And Every 30 Days After You Will Receive a Full Month Supply Of Hair Illusion. Only Pay $29.95 Plus $4.95 S/H. Charged to the card you provide today unless you cancel. No Commitment. You Can Cancel Any time Or Adjust Your Monthly Plan According To How Much Hair Illusion You Use.
            		<br /> 
            	 </div>
            </label>
            <br />  
            
          </div>  
          <div class="checkbox" id="checkbox1">
            <input type="radio" id="One" name="Offer" value="One" onclick="onChangePlan('one')"> <label for="One"><b>I would like to buy a one time purchase of Hair Illusion today for $<%= @price%> + $6.95 S&amp;H</b><br><br>
            <div id="bottom_order_div" style="display: none">
            I understand I will not get the free 2 week supply or discounted price & BONUS Hairline Optimizer or the FREE S&H with a one time shipment.</label>
            </div>
          </div>
 
          
          <div id="bonusRadio" style="display: none;width: 291px">
              <div class="FormSubHeadlineL">Choose your color</div>
              
            <input type="hidden" id="productType">
            <input type="hidden" id="productQuantity">
            <input type="hidden" id="orderType">
            
              <div class="checkbox color" id="color-jetblack" style="margin-top: 0px;padding-left:0px">
                <input type="radio" id="JetBlack" name="Color" value="JET" onclick="setProductType('Jet Black')">  
                <%= image_tag 'color-jet-black.png', :clas=>"colorimg"%>
                Jet Black
              </div>
              <div class="checkbox color" id="color-black" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Black')">
                <input type="radio" id="Black" name="Color" value="BLK">  
                <%= image_tag 'color-black.png', :clas=>"colorimg"%>
                Black
              </div>  
              <div class="checkbox color" id="color-dkbrown" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Dark Brown')">
                <input type="radio" id="DarkBrown" name="Color" value="DKBR">  
                <%= image_tag 'color-dark-brown.png', :clas=>"colorimg"%>
                Dark Brown
              </div>
              <div class="checkbox color" id="color-brown" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Brown')">
                <input type="radio" id="Brown" name="Color" value="BR"> 
                 <%= image_tag 'color-brown.png', :clas=>"colorimg"%>
                Brown
              </div>
              <div class="checkbox color" id="color-lghtbrown" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Light Brown')">
                <input type="radio" id="LightBrown" name="Color" value="LTBR"> 
                <%= image_tag 'color-light-brown.png', :clas=>"colorimg"%> 
                Light Brown
              </div>
              <div class="checkbox color" id="color-auburn" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Auburn')">
                <input type="radio" id="Auburn" name="Color" value="AUB"> 
                <%= image_tag 'color-auburn.png', :clas=>"colorimg"%> 
                Auburn
              </div>
              <div class="checkbox color" id="color-blonde" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Blonde')">
                <input type="radio" id="Blonde" name="Color" value="BLN">  
                <%= image_tag 'color-blonde.png', :clas=>"colorimg"%> 
                Blonde
              </div>  
              <div class="checkbox color" id="color-lghtblonde" style="margin-top: 0px;padding-left:0px" onclick="setProductType('Light Blonde')">
                <input type="radio" id="LightBlonde" name="Color" value="LTBLN"> 
                <%= image_tag 'color-light-blonde.png', :clas=>"colorimg"%>  
                Light Blonde
              </div>     
            </div>      
        <div id="oneRadio" style="display: none;">
              <div class="FormSubHeadlineL">Choose your color</div> 
              <div class="product grid flex space wrap">
              <div class="checkbox color" id="color-jetblack" style="text-align: center"> 
                <%= image_tag 'color-jet-black.png', :clas=>"colorimg"%>   
                <label for="ActionQuantity1" style="width:40px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity1" name="ActionQuantity1" data-index="1" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Jet Black</p>
                </label>
              </div>
              <div class="checkbox color" id="color-black" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-black.png', :clas=>"colorimg"%>   
                <label for="ActionQuantity2" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity2" name="ActionQuantity2" data-index="2" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Black</p>
                </label>
              </div>  
              <div class="checkbox color" id="color-dkbrown" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-dark-brown.png', :clas=>"colorimg"%>   
                <label for="ActionQuantity3" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity3" name="ActionQuantity3" data-index="3" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Dark Brown</p>
                </label>
              </div>
              <div class="checkbox color" id="color-brown" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-brown.png', :clas=>"colorimg"%>   
                <label for="Brown" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity4" name="ActionQuantity4" data-index="4" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Brown</p>
                </label>
              </div>
              <div class="checkbox color" id="color-lghtbrown" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-light-brown.png', :clas=>"colorimg"%>   
                <label for="LightBrown" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity5" name="ActionQuantity5" data-index="5" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Light Brown</p>
                </label>
              </div>
              <div class="checkbox color" id="color-auburn" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-auburn.png', :clas=>"colorimg"%>   
                <label for="ActionQuantity6" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity6" name="ActionQuantity6" data-index="6" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Auburn</p>
                </label>
              </div>
              <div class="checkbox color" id="color-blonde" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-blonde.png', :clas=>"colorimg"%>   
                <label for="ActionQuantity7" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity7" name="ActionQuantity7" data-index="7" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Blonde</p>
                </label>
              </div>  
              <div class="checkbox color" id="color-lghtblonde" style="margin-top: 7px;margin-bottom: 0px"> 
                <%= image_tag 'color-light-blonde.png', :clas=>"colorimg"%> 
                <input id="ActionCode8" name="ActionCode8" type="hidden" value="OTLTBLN">
                <label for="ActionQuantity8" style="width:40px;margin-left:-2px">
                    <select class="cardExpirationMonth ddl ddl" id="ActionQuantity8" name="ActionQuantity8" data-index="8" onchange="onChangeQty()">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <p>Light Blonde</p>
               </label>
              </div>
              </div>     
            </div>              
        </div>
        <!-- END id="productSelection" -->

<div id="reviewOrder">
    <div class="FormHeadlineL"><strong>STEP 2:</strong><br>Review your order</div>

    <style>
        .alignTextRight {
            text-align: right;
        }

        .alignTextLeft {
            text-align: left;
        }
    </style>

    <table id="orderReview" class="orderItemsTable reviewTable">
        <thead class="reviewTableHead">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                
                <th>Price</th>
                
                <th>P&amp;H</th>
                
            </tr>
        </thead>
        <tbody class="reviewTableBody" id="cartTR">
        	<%= render "product_cart" %>
        </tbody>
        <tfoot class="reviewTableFoot alignTextRight" id="totalDiv"> 
            <%= render "total_price"%>
            
        </tfoot>
    </table>

    <div id="orderFormReviewTableItems"></div>
</div>

 
        <div id="paymentForm">
            <div class="FormHeadlineL"><strong>STEP 3:</strong><br> Please enter your credit card information</div>
            <div id="cc" style="width: 90%;">  
	            <%= image_tag 'visa.png', :style=>"width: 37px;"%>
	            <%= image_tag 'mastercard.png', :style=>"width: 37px;"%>
	            <%= image_tag 'amex.png', :style=>"width: 37px;display:none;"%>
	            <%= image_tag 'discover.png', :style=>"width: 37px;"%>
            </div>
            
            <div id="CardNumberCt" class="fldCt required"><label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Card Number<span class="labelColon">:</span></label><span class="fld">
            <input id="CardNumber" name="CardNumber" placeholder="#################" type="text" value="" style="width:165px">
            </span></div>
            <div id="CardExpirationCt" class="fldCt required"><label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Expiration Date<span class="labelColon">:</span></label><span class="fld">
            <select id="CardExpirationMonth" name="CardExpirationMonth"><option value="01">01 - Jan</option>
<option value="02">02 - Feb</option>
<option value="03">03 - Mar</option>
<option value="04">04 - Apr</option>
<option value="05">05 - May</option>
<option value="06">06 - Jun</option>
<option value="07">07 - Jul</option>
<option value="08">08 - Aug</option>
<option value="09">09 - Sep</option>
<option value="10">10 - Oct</option>
<option value="11">11 - Nov</option>
<option value="12">12 - Dec</option>
</select>
            <select class="cardExpirationMonth" id="CardExpirationYear" name="CardExpirationYear"><option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option></select>
            </span></div>
            <div id="CardCvv2Ct" class="fldCt required"><label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>CVV2<span class="labelColon">:</span></label><span class="fld">
            <input id="CardCvv2" maxlength="5" name="CardCvv2" placeholder="CVV2" type="text" value="">

            </span></div>
        <input type="hidden" id="CardType" name="CardType" value=""></div>
        <!-- END id="paymentForm" -->
				<div id="billingInformation">
					<div class="FormHeadlineL">
						<strong>STEP 4:</strong>
						<br>
						Please enter your billing information
					</div>
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>First Name<span class="labelColon">:</span></label><span class="fld">
							<input id="first_name" maxlength="50" name="first_name" type="text" value="" placeholder="*First Name:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Last Name<span class="labelColon">:</span></label><span class="fld">
							<input id="last_name" maxlength="50" name="last_name" type="text" value="" placeholder="*Last Name:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Address1<span class="labelColon">:</span></label><span class="fld">
							<input id="address1" maxlength="50" name="address1" type="text" value="" placeholder="*Address1:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Address2<span class="labelColon">:</span></label><span class="fld">
							<input id="address2" maxlength="50" name="address2" type="text" value="" placeholder="Address2:">
						</span>
					</div>
					

  					
  					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Email<span class="labelColon">:</span></label><span class="fld">
							<input id="email" maxlength="50" name="email" type="text" value="" placeholder="*Email:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Country<span class="labelColon">:</span></label><span class="fld">
							<%= country_select_tag :cb_country, { priority_countries: ["US", "UK"], selected: "US" }, { class: 'form-control required'} %>
 
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>State<span class="labelColon">:</span></label><span class="fld">
							<div id="state_td">
							<%= render partial: 'state', locals: {parent_region: 'US'} %>
							</div>
						</span>
					</div>
					 
					 
										
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>City<span class="labelColon">:</span></label><span class="fld">
							<input id="city" maxlength="50" name="city" type="text" value="" placeholder="*City:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Zip<span class="labelColon">:</span></label><span class="fld">
							<input id="zip" maxlength="50" name="zip" type="text" value="" placeholder="*Zip:">
						</span>
					</div>
					
					<div class="fldCt required">
						<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Phone<span class="labelColon">:</span></label><span class="fld">
							<input id="phone" maxlength="50" name="phone" type="text" value="" placeholder="*Phone:">
						</span>
					</div>
					
        </div>

        <p class="indicate">
            <span>*</span>Indicates Required Field
        </p>
        <div style="text-align: center;" class="FormSubmit">
            <span id="submitBtn">
            	<div id="submit_button", onclick='onClickOrder()', class="newStep"></div> 
            </span>
            <p id="click">By clicking Process Order, your credit card will be charged the amount above. Click only once.</p>
        </div>
        <div id="SSL" style="text-align: center;">
            <p>
            	<%= image_tag 'PositiveSSL_tl_trans.png'%> 
            </p>

        </div>
      </form>
    </div>
    <div id="formProduct"> 
		<%= image_tag 'hair-illusion-form-product.jpg'%>
    </div>
    <div id="disclaimer">
      <p><strong>OFFER DETAILS:</strong><br>
      When ordering today you'll receive a 30 day supply of Hair Illusion™, FREE Shipping and a BONUS Optimizer. If you decide to make a one-time purchase today of Hair Illusion, you'll be charged $<%= @price%> + $9.95 S&amp;H. Hair Illusion™ comes with our 30 Day no hassle money back guarantee.</p>
      <p>Standard Delivery Time: 2 − 3 Weeks.</p>
      <p>Sales tax will apply to all orders being shipped to Massachusetts</p>
    </div>
 

    <div class="clearer"></div>
  </div>
  <div class="clearer"></div>
</div>  

<script type="text/javascript">
	$( document ).ready(function() { 
	$("#cb_country" ).change(function() { 
	country = $("#cb_country").val();
		$.ajax({
	    	type: "GET",
	        url: "/get_states?parent_region="+ country  ,
	        dataType: "script",
	    });
	}); 
});
</script>
